@inject ILocalizationService localizationService
@{
    localizationService.UseActionWords();
}
    <div class="text-center">
        <h1 class="display-4">@localizationService.get("Title")</h1>
        <p>@localizationService.get("Description")</p>
        <p>@localizationService.get("Description2")</p>
    </div>
