@inject ILocalizationService localizationService
@{
    localizationService.UseLayoutWords(ViewContext);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@localizationService.get("ProjectName")</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
